@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab .ant-tabs-tab-active {
  color: aquamarine !important;
  background: red !important;
}

.ant-tabs-nav-list {
  color: aquamarine !important;
}
